@import url("https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

@font-face {
  font-family: "QuranChapters";
  src: url("./tf/Mcs_Swer_Al_Quran_2.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quran-img {
  margin-top: 40px;
}
.noble {
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  margin: 25px;
  font-weight: 600;
  color: #2ca4ab;
  box-shadow: inset 0 0 10px rgba(143, 137, 137, 0.2);
  border-radius: 25px;
  overflow: hidden;
}
.search-quran {
  position: relative;
  width: 60%;
  display: flex;
  flex-direction: row;
}
#search {
  width: 40%;
  padding: 20px 45px;
  margin-top: 30px;
  border: 1px solid #ced4da;
  background-color: #f8f9fa;
  border-radius: 35px;
  font-size: 20px;
}
#search:focus {
  color: #495057;
  background-color: #f8f9fa;
  border-color: #6ceed1;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0 172 193 0.25);
}
#loader {
  width: 70px;
  height: 70px;
  margin-top: 20px;
  display: none;
}
