@import url("https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap");

@font-face {
  font-family: "QuranChapters";
  src: url("./tf/Mcs_Swer_Al_Quran_2.ttf");
}
@font-face {
  font-family: "QuranVerses";
  src: url("./tf/UthmanicHafs1Ver09.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quran-img {
  margin-top: 40px;
}
.noble {
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  margin: 25px;
  font-weight: 600;
  color: #2ca4ab;
  box-shadow: inset 0 0 10px rgba(143, 137, 137, 0.2);
  border-radius: 25px;
  overflow: hidden;
}
.search-quran {
  position: relative;
  width: 60%;
  display: flex;
  flex-direction: row;
}
#search {
  width: 40%;
  padding: 20px 45px;
  margin-top: 30px;
  border: 1px solid #ced4da;
  background-color: #f8f9fa;
  border-radius: 35px;
  font-size: 20px;
}
#search:focus {
  color: #495057;
  background-color: #f8f9fa;
  border-color: #6ceed1;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0 172 193 0.25);
}
#loader {
  width: 70px;
  height: 70px;
  margin-top: 20px;
  display: none;
}
.chapters {
  position: relative;
  max-width: 1370px;
  margin: 50px 5px;
  display: grid;
  grid-template-columns: repeat(3 1fr);
  grid-gap: 15px;
  padding: 16px;
}
.chapters h1 {
  position: absolute;
  top: 0;
  margin-top: -45px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  color: #6ceed1;
  text-decoration: underline;
  border-bottom-color: #0f0f0f;
  border-style: groove;
}
.chapters h1:focus {
  text-decoration: underline;
  border-bottom-color: #2ca4ab;
  cursor: pointer;
}
.chapter-info {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 0;
  left: 0;
  height: 80px;
  border-radius: 5px;
  border: 1px solid #cedbe8;
  transition: backgound-color 0.15s, border 0.15s, box-shadow 0.15s;
  /* padding: 19px 16px; */
}
.chapter-info:hover {
  border: 1px solid #6ceed1;
  background-color: #f8f9fa;
  border-radius: 15px;
  box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1;
}
.chapter-names {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.chapter-names a {
  font-size: 20px;
  text-decoration: none;
  margin: 30px;
  color: #333;
}
#chapter-name-ar {
  font-family: QuranChapters;
  font-size: 25px;
}
#chaper-name-en {
  font-family: "Ubuntu", sans-serif;
}
.chapter-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2ca4ab;
  margin: 0 auto;
}
#about-chapter {
  display: flex;
  position: absolute;
  left: 30px;
  font-family: "Ubuntu", sans-serif;
  margin-top: 10px;
}
#total-verses {
  position: absolute;
  right: 10px;
  font-family: "Ubuntu", sans-serif;
  margin-top: 10px;
}
#chapter-verse-number {
  position: absolute;
  left: 0;
  background-color: #f8f9fa;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  font-family: "Ubuntu", sans-serif;
  width: 30px;
  height: 30px;
  background: linear-gradient(
    to bottom right,
    #2ca4ab 50%,
    #6ceed1 50%,
    #6ceed1 50%,
    #4ef3f3 50%
  );
}
#chapter-verse-number:hover {
  background-color: #2ca4ab;
  color: rgb(207, 178, 178);
}

/* Styles for smartphones */
@media screen and (max-width: 767px) {
  .chapters {
    grid-template-columns: 1fr;
  }
}

/* Styles for tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .chapters {
    grid-template-columns: 1fr 1fr;
  }
}

/* Styles for laptops*/
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .chapters {
    grid-template-columns: repeat(3, 1fr);
  }
  #search {
    width: 100%;
  }
  #chapter-name-ar {
    font-size: 20px;
  }
}
/* Large screen */
@media screen and (min-width: 1920px) {
  .chapters {
    width: 1570px;
    grid-template-columns: repeat(3, 1fr);
  }
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: QuranChapters;
  position: relative;
  left: 200px;
  right: 0;
  top: 80px;

  font-size: 25px;
  font-weight: 700;
  color: #6ceed1;
  display: block;
}
#chapter-header {
  margin-top: 30px;
  position: relative;
  display: inline-block;
  border-radius: 15px;
  height: 40px;
  text-align: center;
  width: 320px;
  padding: 10px;
  left: 400px;
  right: 0;
  top: -40px;
  box-shadow: inset 0 2px 10px rgba(195, 189, 189, 0.2);
}
#verses-container {
  font-family: "Scheherazade New", serif;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 50px;
  padding: 25px;
  margin-right: 200px;
  width: 600px;
  box-shadow: inset 0 2px 10px rgba(148, 142, 142, 0.2);
}
.header-link {
  text-decoration: none;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  color: #2ca4ab;
}

#read-chapter {
  margin: 0 10px;
}

.active-link {
  text-decoration: underline !important;
}
#verses {
  position: relative;
  display: flex;
  width: 100wh;
  font-family: "Scheherazade New", serif;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
}

/* #ayah-sign {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 50px;
  height: 60px;
  margin-top: 90px;
  margin-left: 10px;
} */
